################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CitasApp/.vs/CitasApp/FileContentIndex
/.vs/Gestion%20de20%Citas/FileContentIndex
/.vs/GestiondeCitas/FileContentIndex
