################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CitasApp/.vs/CitasApp/FileContentIndex
